.content-container {
    width: 50vw;
    display: flex;
    flex-direction: column;
  }

.user-photo {
    border-radius: 50%;
}

.user-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F4E76B;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.user-details {
    margin: 25px;
}

.user-details > p {
    font-weight: bold;
}
